<!doctype html>
<html>
<head data-api-key="<%= data.API_KEY %>">
  <meta charset="utf-8">
  <title><%= data.CUSTOMER_NAME %> ERP</title>
  <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="libs/bootstrap/css/bootstrap-theme.css">
</head>
<body>
  <div class="container" ng-app="derpErp">
    <div class="row">
      <div class="col-xs-12">
        <img src="<%= data.IMAGE_ROOT %>/logo.png" alt="<%= data.CUSTOMER_NAME %> Logo">
        <hr>
        <h1>Welcome to <em><%= data.CUSTOMER_NAME %> ERP</em></h1>
        <h4 ng-controller="quotaInfoController">
          You can make {{ requestsPerSecond }} requests per second. Your config is {{ configuration }}.
        </h4>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-xs-4">
          <button class="btn btn-large btn-primary">New entry</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-larg btn-default">Reload list</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <table class="table">
            <thead><tr><th>Who?</th><th>How much?</th></tr></thead>
            <tbody>
              <tr><td>Derp</td><td>200 $</td></tr>
              <tr><td>Derpina</td><td>500 $</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script src="libs/angular/angular.js"></script>
  <script src="js/app.js"></script>
</body>
</html>